.partePrincipal {
    position: absolute;
    background-color: rgb(224, 224, 224);
    border-radius: 40px;
    margin-top: 80px;
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.partePrincipal h1 {
    text-align: center;
    color: #0073ff;
    margin-top: 40px;
}

.partePrincipal p {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.partePrincipal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partePrincipal input {
    width: 350px;
    border: 0;
    border: #0088ff 2px solid;
    padding: 10px;
    border-radius: 25px;
    margin: 10px 0;
    outline: none;
}

.partePrincipal #submit {
    color: white;
    background-color: #0080ff;
    font-weight: bold;
    cursor: pointer;
    width: 350px;
}

.partePrincipal a {
    text-decoration: none;
    color: #0073ff;
    text-align: center;
}

.partePrincipal h3 {
    text-align: center;
    color: #0073ff;
    position: relative;
    bottom: 15%;
    border: 3px solid red;
    border-radius: 10px;
    padding: 3%;
}

img{
    width: 400px;
    position: relative;
    bottom: 6%;
}